@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A; /* 영문 대소문자 */
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts/NotoSansKR.ttf") format("truetype");
  unicode-range: U+AC00-D7A3; /* 한글 */
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("./fonts/SpoqaHanSansNeo.otf") format("opentype");
  unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; /* 숫자, 특수문자 */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "NotoSansKR", "Roboto",
    "SpoqaHanSansNeo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  @apply bg-zinc-900 text-gray-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
input:focus,
input:active a:hover {
  @apply no-underline text-inherit outline-none;
}

button,
button:focus,
button:active {
  outline: none;
}
